.form-btn-icon {
  display: inline-block;

  fill: #000;
  // stroke: #000;
  // background-color: #000;
}
.form-btn {
  padding: 13px 15px;
  border-color: transparent;
  transition: background-color, linear, 400ms;
}
.form-btn:is(:hover, :focus) {
  background-color: #d6d6d6c7;
}

.form-input {
  width: 350px;
  height: 45px;
  border-color: transparent;
  padding-left: 10px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020094;
  height: 60px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

//----------cards--------
.js-list-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.photo-card {
  border: 1.2px solid black;
  padding: 5px;

  // height: 330px;
  height: auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dtn-load-more {
  // display: none;
}