.form-btn-icon {
  display: inline-block;

  fill: #000;
  // stroke: #000;
  // background-color: #000;
}
.form-btn {
  padding: 13px 15px;
}

.form-input {
  width: 350px;
  height: 45px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020094;
  height: 60px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
